In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
data = pd.read_csv('updated_pollution_dataset.csv')
data.head()

,Temperature,Humidity,PM2.5,PM10,NO2,SO2,CO,Proximity_to_Industrial_Areas,Population_Density,Air Quality
0,29.8,59.1,5.2,17.9,18.9,9.2,1.72,6.3,319,Moderate
1,28.3,75.6,2.3,12.2,30.8,9.7,1.64,6.0,611,Moderate
2,23.1,74.7,26.7,33.8,24.4,12.6,1.63,5.2,619,Moderate
3,27.1,39.1,6.1,6.3,13.5,5.3,1.15,11.1,551,Good
4,26.5,70.7,6.9,16.0,21.9,5.6,1.01,12.7,303,Good

In [9]:
data.isnull().sum()

Temperature                      0
Humidity                         0
PM2.5                            0
PM10                             0
NO2                              0
SO2                              0
CO                               0
Proximity_to_Industrial_Areas    0
Population_Density               0
Air Quality                      0
dtype: int64

In [10]:
x = data.drop('Air Quality', axis=1)
y = data['Air Quality']
print(x)
print(y)

      Temperature  Humidity  PM2.5   PM10   NO2   SO2    CO  \
0            29.8      59.1    5.2   17.9  18.9   9.2  1.72
1            28.3      75.6    2.3   12.2  30.8   9.7  1.64
2            23.1      74.7   26.7   33.8  24.4  12.6  1.63
3            27.1      39.1    6.1    6.3  13.5   5.3  1.15
4            26.5      70.7    6.9   16.0  21.9   5.6  1.01
...           ...       ...    ...    ...   ...   ...   ...
4995         40.6      74.1  116.0  126.7  45.5  25.7  2.11
4996         28.1      96.9    6.9   25.0  25.3  10.8  1.54
4997         25.9      78.2   14.2   22.1  34.8   7.8  1.63
4998         25.3      44.4   21.4   29.0  23.7   5.7  0.89
4999         24.1      77.9   81.7   94.3  23.2  10.5  1.38

      Proximity_to_Industrial_Areas  Population_Density
0                               6.3                 319
1                               6.0                 611
2                               5.2                 619
3                              11.1                 551
4                              12.7                 303
...                             ...                 ...
4995                            2.8                 765
4996                            5.7                 709
4997                            9.6                 379
4998                           11.6                 241
4999                            8.3                 461

[5000 rows x 9 columns]
0        Moderate
1        Moderate
2        Moderate
3            Good
4            Good
          ...
4995    Hazardous
4996     Moderate
4997     Moderate
4998         Good
4999     Moderate
Name: Air Quality, Length: 5000, dtype: object

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4000, 9)
(1000, 9)
(4000,)
(1000,)